In [67]:
import numpy as np
import pandas as pd
import ast

Выделение методов в блоке

---

In [69]:
def UsedMethods2(code):
  try:
    p = ast.parse(code)
    names = sorted({node.attr for node in ast.walk(p) if isinstance(node, ast.Attribute)}) #but here we also have node.id for example
    result = list()
    for instance in names:
     pos = code.find(instance)
     print(pos, instance)
     if (pos > 0 and code[pos-1] == '.') and (pos < len(code) - len(instance) and (code[pos + len(instance)] == '.' or code[pos + len(instance) ] == '(')) :
      result.append(instance)
    return result
  except:
    return list()

In [70]:
def UsedMethods(code):
  try:
    p = ast.parse(code)
    names = sorted({node.attr for node in ast.walk(p) if isinstance(node, ast.Attribute)})
    return names
  except:
    return list()

In [82]:
UsedMethods("df = df.drop(index=0)")

['drop']

Заполнение таблички

In [83]:
filename = "11.csv" #enter the name of a .csv file

#df = pd.read_csv(filename)
data = {'Unnamed: 3':['code_block', 'p = ast.parse(code)', 'p = ast.walk()', 'give.up()', 'df = df.drop(index=0)'], 
        'Unnamed: 4':['python_methods', np.NaN, np.NaN, np.NaN, np.NaN],
        'Unnamed: 5':['python_methods_p1', np.NaN, np.NaN, np.NaN, np.NaN],
        'Unnamed: 6':['python_methods_p2', np.NaN, np.NaN, np.NaN, np.NaN],
        'Unnamed: 7':['python_methods_p3', np.NaN, np.NaN, np.NaN, np.NaN],
        'Unnamed: 8':['python_methods_m1', np.NaN, np.NaN, np.NaN, np.NaN],
        'Unnamed: 9':['python_methods_m2', np.NaN, np.NaN, np.NaN, np.NaN],
        'Unnamed: 10':['python_methods_m3', np.NaN, np.NaN, np.NaN, np.NaN]
        }

  
df = pd.DataFrame(data)

In [84]:
 df.columns = df.iloc[0,:]
 df = df.drop(index=0)

Заполним методы блока

In [85]:
df['python_methods'] = df['code_block'].apply(UsedMethods)

In [86]:
df

0             code_block python_methods  ... python_methods_m2 python_methods_m3
1    p = ast.parse(code)        [parse]  ...               NaN               NaN
2         p = ast.walk()         [walk]  ...               NaN               NaN
3              give.up()           [up]  ...               NaN               NaN
4  df = df.drop(index=0)         [drop]  ...               NaN               NaN

[4 rows x 8 columns]

Заполним методы соседних блоков

In [87]:
df['python_methods_p1'] = np.NaN
df['python_methods_p2'] = np.NaN
df['python_methods_p3'] = np.NaN
df['python_methods_m1'] = np.NaN
df['python_methods_m2'] = np.NaN
df['python_methods_m3'] = np.NaN

In [ ]:
df['python_methods_m1'][1:] = df['python_methods'][:-1]
df['python_methods_m2'][2:] = df['python_methods'][:-2]
df['python_methods_m3'][3:] = df['python_methods'][:-3]
df['python_methods_p1'][:-1] = df['python_methods'][1:]
df['python_methods_p2'][:-2] = df['python_methods'][2:]
df['python_methods_p3'][:-3] = df['python_methods'][3:]

In [89]:
df.head()

0             code_block python_methods  ... python_methods_m2 python_methods_m3
1    p = ast.parse(code)        [parse]  ...               NaN               NaN
2         p = ast.walk()         [walk]  ...               NaN               NaN
3              give.up()           [up]  ...           [parse]               NaN
4  df = df.drop(index=0)         [drop]  ...            [walk]           [parse]

[4 rows x 8 columns]

In [90]:
df.to_csv(filename[:-4] + "python_methods.csv", index=False)